* {
  box-sizing: border-box;
}

/* que hace esto???*/
.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.header {
  color: #0a0303;
  padding: 25px;
  background:linear-gradient(#6495ED, #B0C4DE);
  text-shadow: 3px 3px 6px rgb(49, 49, 183);
  text-align:center;
  
}


.body {
 background-color: #4682B4; 
}
.menu ul {
  list-style-type: none;
}
.menu li {
  padding: 15px;
  margin-bottom: 7px;
  background-color: #6495ED ;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
  background-color: #F4A460;
}
.footer {
  background: linear-gradient(	#fdd1ab,#FF7F50);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.footer img{
  width: 30px;
  padding: 0px 5px;
}
a{
  text-decoration: none;
}
.sucursales{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #6495ED;
}
.sucursales > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/*experiencias*/
.container{
  display: flex;
  flex-wrap: wrap;
}
.tarjeta{
  border: 2px solid rgb(167, 167, 165);
  margin: 10px;
  background-color: lightsalmon;
  width: 45%;
  border-radius: 10px;
}
.cuerpo{
  padding: 10px;
}
